MONGO_HOST=class-mongodb.cims.nyu.edu
MONGO_USER=das9669
MONGO_PASSWORD=Eh3mQbk7
MONGO_DBNAME=das9669
FLASK_APP=app.py # the main script file
FLASK_ENV=development # either development or production
GITHUB_SECRET=foo # pick any secret key word you like for GitHub webooks
GITHUB_REPO=https://github.com/dbdesign-assignments-spring2022/web-app-asakti47.git # the GitHub repository
